@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.MainButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    text-align: center;
}

button {
    background-color: #3362ae;
    color: white;
    padding: 20px 20px;
    border: none;
    width: 100%;
    display: block;
    border-radius: 20px;
    cursor: pointer;
    transition: .1s;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
}
button:hover {
    background-color: #396fc5;
}

/* .MainButton {
    background-color: aqua;
    text-decoration: none;
    color: black;
    padding: 30px;
    border-radius: 20px;
    border: none;
    font-family: 'Poppins', sans-serif;
} */