.Monitors {
    display: grid;
    grid-template-columns: auto auto auto;
}

.Monitor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StartConsoleContainer {
    display: flex;
    flex-direction: column;
}

#ConsoleStartBar {
    display: none;
}

#OutputContainer {
    border-radius: 20px;
    background-color: lightgray;
    padding: 20px;
}

.Output {
    border-radius: 20px;
}

.log {
    color: black;
    font-family: monospace;
    font-size: 12px;
    margin: 0;
}

.error {
    color: rgb(195, 32, 32);
}